@font-face {
  font-family: "PressStart2P";
  src: url("../font/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(44, 44, 44);
  color: rgb(202, 202, 202);
  font-family: PressStart2P;
}
.links {
  position: absolute;
  top: 30px;
  left: 20px;
}
.links__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links__item::before {
  content: "->";
}
.links__item a {
  text-decoration: none;
  color: rgb(202, 202, 202);
  transition: 0.4s;
}
.links__item a:hover {
  color: white;
  text-shadow: 0vh 0vh 0.5vh white;
}
main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.notfound {
  max-width: 1000px;
}
.notfound__title {
  font-size: clamp(25px, 8vw, 100px);
  font-weight: 10;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s;
}
.notfound__title:hover {
  color: white;
  text-shadow: 0vh 0vh 1vh white;
  cursor: default;
}
