/* -------- fonts -------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* -------- colors -------- */
/* -------- general -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.headers {
  font-weight: 500;
  font-size: 32px;
  color: #9b0741;
  margin-bottom: 40px;
}

.category-link {
  color: #000;
  font-size: 24px;
}

/* -------- header -------- */
header {
  max-width: 1410px;
  background-color: #ffe4c7;
  margin: 16px auto 0;
  border-radius: 24px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 30px 5px;
}
.nav__items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 65px;
}
.nav__items:nth-child(3) {
  margin-right: 50px;
}
.nav__items:nth-child(4) {
  margin-right: 0;
}
.nav__items:last-child {
  margin-right: 0;
  margin-left: auto;
  gap: 10px;
}
.nav__burger-btn {
  width: 30px;
  height: 20px;
  background-image: url(../img/header/burger-icon.svg);
}
.nav__link {
  text-decoration: none;
  color: #3f1d14;
  font-size: 24px;
}
.nav__logo {
  font-size: 48px;
  font-weight: 500;
  color: #9b0741;
}
.nav__btn {
  width: 32px;
  height: 32px;
}
.nav .search {
  background-image: url(../img/header/search-icon.svg);
}
.nav .profile {
  background-image: url(../img/header/profile-icon.svg);
}
.nav .favorite {
  background-image: url(../img/header/favorite-icon.svg);
}
.nav .cart {
  background-image: url(../img/header/cart-icon.svg);
}

/* -------- main -------- */
main {
  padding-top: 88px;
  padding-bottom: 90px;
}

/* -------- slider -------- */
.slider {
  padding-bottom: 100px;
}

.swiper {
  border-radius: 16px;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16), 0px -16px 16px rgba(0, 0, 0, 0.16);
}

/* -------- trands -------- */
.trands {
  margin-bottom: 90px;
}
.trands__list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.trands__item {
  position: relative;
  min-height: 300px;
  border-radius: 8px;
  flex: 1 0 20%;
  background-size: cover;
  transition: 0.4s;
  overflow: hidden;
}
.trands__item:nth-child(1) {
  background-image: url(../img/trands/modnaya-palitra.png);
}
.trands__item:nth-child(2) {
  background-image: url(../img/trands/maxi.png);
}
.trands__item:nth-child(3) {
  background-image: url(../img/trands/style-tshirt.png);
}
.trands__item:nth-child(4) {
  background-image: url(../img/trands/gotic.png);
}
.trands__item:nth-child(5) {
  background-image: url(../img/trands/actual.png);
}
.trands__item:nth-child(6) {
  background-image: url(../img/trands/bomber.png);
}
.trands__item:hover .trands__link {
  bottom: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 100px 2em #3f1d14;
  text-decoration: underline;
}
.trands__link {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-decoration: none;
  width: calc(100% - 35px);
  color: #3f1d14;
  background-color: #fcead6;
  padding: 8px 4px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  word-wrap: normal;
  transition: 0.4s;
}

/* -------- popular -------- */
.popular__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 55px;
}
.popular__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular__subtitle {
  text-align: center;
  max-width: 100px;
}
.popular__title {
  margin-bottom: 50px;
}

/* -------- advertising banner -------- */
.ad-banner {
  position: relative;
  margin-bottom: 120px;
  min-height: 580px;
  background-image: url(../img/advertising/ad-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0px -16px 16px rgba(50, 50, 50, 0.16), 0px 16px 16px rgba(50, 50, 50, 0.16);
  border-radius: 16px;
}
.ad-banner__title {
  position: absolute;
  top: 120px;
  left: 100px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #323232;
}

/* -------- brands -------- */
.brands__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 110px;
}
.brands__item {
  box-shadow: 0px -2px 16px rgba(50, 50, 50, 0.16), 0px 2px 16px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
}

/* -------- newsletter -------- */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcead6;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px 40px;
}
.newsletter__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #3f1d14;
}
.newsletter__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #3f1d14;
}
.newsletter__input {
  border: none;
  outline: none;
  width: 335px;
  padding: 16px;
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  background-color: #3f1d14;
  border-radius: 3px;
}
.newsletter__input::-moz-placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__input:-ms-input-placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__input::placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.15px;
  padding: 12px 24px;
  color: #fcead6;
  background-color: #3f1d14;
  border-radius: 8px;
}

/* -------- footer -------- */
footer {
  padding: 35px 110px 55px;
  background-color: #3f1d14;
  color: #fff;
  line-height: 1.3em;
  letter-spacing: 0.15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  box-sizing: border-box;
  max-width: 40%;
  padding: 40px 0;
}

.footer-top-left img {
  margin-bottom: 16px;
}

.footer-social {
  margin-top: 40px;
}

.footer-social-icon {
  margin-right: 20px;
}

.nic {
  fill: #fff;
}

.nic:hover {
  fill: #ffe4c7;
}

.footer-top-center,
.footer-top-right {
  box-sizing: border-box;
  max-width: 30%;
  padding: 40px 0;
}

footer h4 {
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  margin-bottom: 25px;
}

footer li {
  list-style-type: none;
  margin-bottom: 12px;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

footer li a:hover {
  color: #ffe4c7;
}

ul.footer-contacts-item li {
  display: flex;
  align-items: start;
}

ul.footer-contacts-item img {
  height: 16px;
  margin-right: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.copy {
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

a.copy:hover {
  color: #ffe4c7;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */