/* -------- fonts -------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* -------- colors -------- */
/* -------- general -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.hidden {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.headers {
  font-weight: 500;
  font-size: 32px;
  color: #9b0741;
  margin-bottom: 40px;
}

.category-link {
  color: #000;
  font-size: 24px;
}

/* -------- header -------- */
header {
  max-width: 1410px;
  background-color: #ffe4c7;
  margin: 16px auto 0;
  border-radius: 24px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 5px;
}
.nav__items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 65px;
}
.nav__items svg {
  fill: #9b0741;
}
.nav__items:nth-child(3) {
  margin-right: 50px;
}
.nav__items:nth-child(4) {
  margin-right: 0;
}
.nav__items:last-child {
  margin-right: 0;
  margin-left: auto;
  gap: 10px;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__burger-btn {
  display: flex;
  align-items: center;
}
.nav__burger-btn svg {
  fill: #3f1d14;
}
.nav__link {
  text-decoration: none;
  color: #3f1d14;
  font-size: 24px;
}
.nav__logo {
  font-size: 48px;
  font-weight: 500;
  color: #9b0741;
}
.nav__btn {
  display: flex;
  align-items: center;
}
.nav__btn svg {
  fill: #3f1d14;
}

.burger {
  position: absolute;
  top: 85%;
  left: 0;
  display: flex;
  border: 1px solid #afabab;
  border-radius: 10px;
  box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 2;
}
.burger__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.burger__link {
  text-decoration: none;
  color: #3f1d14;
  font-size: 24px;
}
.burger__link:hover, .burger__link:focus, .burger__link:active {
  display: block;
  background: #ffe4c7;
  border-radius: 8px;
}
.burger__link:hover__list_sublist, .burger__link:focus__list_sublist, .burger__link:active__list_sublist {
  display: block;
}

.hidden {
  display: none;
}

/* -------- main -------- */
main {
  padding-top: 88px;
  padding-bottom: 90px;
}

/* -------- slider -------- */
.slider {
  padding-bottom: 100px;
}

.swiper {
  border-radius: 16px;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16), 0px -16px 16px rgba(0, 0, 0, 0.16);
}

/* -------- trands -------- */
.trands {
  margin-bottom: 90px;
}
.trands__items {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.trands__link {
  display: block;
  position: relative;
  width: 270px;
  min-height: 300px;
  border-radius: 8px;
  flex: 1 0 20%;
  background-size: cover;
  transition: 0.4s;
  overflow: hidden;
}
.trands__link:nth-child(1) {
  background-image: url(../img/trands/modnaya-palitra.png);
}
.trands__link:nth-child(2) {
  background-image: url(../img/trands/maxi.png);
}
.trands__link:nth-child(3) {
  background-image: url(../img/trands/style-tshirt.png);
}
.trands__link:nth-child(4) {
  background-image: url(../img/trands/gotic.png);
}
.trands__link:nth-child(5) {
  background-image: url(../img/trands/actual.png);
}
.trands__link:nth-child(6) {
  background-image: url(../img/trands/bomber.png);
}
.trands__link:hover .trands__content {
  bottom: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 100px 2em #3f1d14;
  text-decoration: underline;
}
.trands__content {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-decoration: none;
  width: calc(100% - 35px);
  color: #3f1d14;
  background-color: #fcead6;
  padding: 8px 4px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  word-wrap: normal;
  transition: 0.4s;
}

/* -------- popular -------- */
.popular__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 55px;
}
.popular__item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.popular__subtitle {
  text-align: center;
  max-width: 100px;
}
.popular__title {
  margin-bottom: 50px;
}

/* -------- advertising banner -------- */
.ad-banner {
  position: relative;
  margin-bottom: 120px;
  min-height: 580px;
  background-image: url(../img/advertising/ad-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0px -16px 16px rgba(50, 50, 50, 0.16), 0px 16px 16px rgba(50, 50, 50, 0.16);
  border-radius: 16px;
}
.ad-banner__title {
  position: absolute;
  top: 120px;
  left: 100px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #323232;
}

/* -------- brands -------- */
.brands__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 110px;
}
.brands__item {
  box-shadow: 0px -2px 16px rgba(50, 50, 50, 0.16), 0px 2px 16px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
}

/* -------- newsletter -------- */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcead6;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px 40px;
}
.newsletter__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #3f1d14;
}
.newsletter__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #3f1d14;
}
.newsletter__input {
  border: none;
  outline: none;
  width: 335px;
  padding: 16px;
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  background-color: #3f1d14;
  border-radius: 3px;
}
.newsletter__input::-moz-placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__input:-ms-input-placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__input::placeholder {
  color: #fcead6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.newsletter__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.15px;
  padding: 12px 24px;
  color: #fcead6;
  background-color: #3f1d14;
  border-radius: 8px;
}

/* -------- footer -------- */
footer {
  padding: 35px 110px 55px;
  background-color: #3f1d14;
  color: #fff;
  line-height: 1.3em;
  letter-spacing: 0.15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  box-sizing: border-box;
  max-width: 40%;
  padding: 40px 0;
}

.footer-top-left img {
  margin-bottom: 16px;
}

.footer-social {
  margin-top: 40px;
}

.footer-social-icon {
  text-decoration: none;
  margin-right: 20px;
}

.nic {
  fill: #fff;
}

.nic:hover {
  fill: #ffe4c7;
}

.footer-top-center,
.footer-top-right {
  box-sizing: border-box;
  max-width: 30%;
  padding: 40px 0;
}

footer h4 {
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  margin-bottom: 25px;
}

footer li {
  list-style-type: none;
  margin-bottom: 12px;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

footer li a:hover {
  color: #ffe4c7;
}

ul.footer-contacts-item li {
  display: flex;
  align-items: start;
}

ul.footer-contacts-item img {
  height: 16px;
  margin-right: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.copy {
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

a.copy:hover {
  color: #ffe4c7;
  opacity: 1;
}

/* -------- registration -------- */
.container {
  max-width: 500px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: center;
}

.form {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #323232;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 456px;
  min-height: 736px;
  padding: 32px 50px;
}

.form__subject {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #323232;
  padding-bottom: 48px;
}

.telephone_title {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 20px;
}

input {
  display: block;
  padding: 10px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 1px solid #9b0741;
  border-radius: 8px;
  width: 244px;
  height: 60px;
}

input:hover {
  border: 3px solid #9b0741;
}

input:active {
  border: 1px solid #ff0000;
  filter: drop-shadow(1px 1px 4px rgba(190, 65, 65, 0.5));
  border-radius: 8px;
}

.form__btn {
  margin: 30px 0px 32px;
  background: #9b0741;
  border: 1px solid #9b0741;
  box-shadow: 0px 0px 6px #96d1ff;
  border-radius: 8px;
  width: 244px;
  transition-duration: 0.5s;
}

.form__btn:hover {
  background-color: #d73c79;
}

.form__btn:active {
  background-color: #d2dbe7;
  border: 1px solid #d2dbe7;
}

.get_code {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #fcead6;
  padding: 23px 29px;
}

.entry_options {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.004em;
  color: #323232;
  padding: 32px 0 16px 0;
  border-top: 2px solid #323232;
  width: 358px;
}

.item-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vk_login a {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.vk__btn {
  margin-left: 55px;
  display: block;
  width: 240px;
  height: 60px;
  background: #2688eb;
  border: 1px solid #2688eb;
  border-radius: 8px;
}

.vk,
.google {
  padding-left: 13px;
}

.google_login a {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #323232;
}

.google__btn {
  margin: 32px 55px 0;
  width: 240px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #323232;
  border-radius: 8px;
}

.help {
  padding-top: 16px;
  text-align: center;
}

.help a {
  font-family: roboto, arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.004em;
  color: #323232;
}

.copyright__title a {
  font-family: roboto, arial, sans-serif;
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.004em;
  color: #9f9f9f;
}

.copyright {
  text-align: center;
  padding-top: 40px;
}

/* -------- 404 -------- */
.error_wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
}

.error_img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.error_title {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0.25px;
  text-align: center;
  padding-bottom: 40px;
}

.error_text_1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.3px;
  padding-bottom: 10px;
  text-align: center;
}

.error_text_2 {
  color: #999999;
  padding-bottom: 50px;
  text-align: center;
}

.btn-base {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fcead6;
  background-color: #9b0741;
  border: solid 2px #9b0741;
  max-width: 310px;
  padding: 16px 51px;
  border-radius: 8px;
  transition: 0.4s;
}

.btn-base:hover {
  color: #9b0741;
  border: solid 2px #9b0741;
  background-color: #fcead6;
}

/* -------- media -------- *//*# sourceMappingURL=style.css.map */