@charset "UTF-8";
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond';
  src: url("../fonts/FuturaPT/FuturaPTCond-Medium.eot");
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"), url("../fonts/FuturaPT/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-Medium.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../fonts/FuturaPT/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-LightObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT Cond';
  src: url("../fonts/FuturaPT/FuturaPTCond-Bold.eot");
  src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"), url("../fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-Bold.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-BookObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url("../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot");
  src: local("Futura PT Cond Extra Bold Oblique"), local("FuturaPTCond-ExtraBoldObl"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../fonts/FuturaPT/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/FuturaPT/FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("../fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-DemiObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url("../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot");
  src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/FuturaPT/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("F../fonts/FuturaPT/uturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Extra';
  src: url("../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot");
  src: local("Futura PT Extra Bold Oblique"), local("FuturaPT-ExtraBoldObl"), url("../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url("../fonts/FuturaPT/FuturaPTCond-Book.eot");
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"), url("../fonts/FuturaPT/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-Book.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT Extra';
  src: url("../fonts/FuturaPT/FuturaPT-ExtraBold.eot");
  src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"), url("../fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT Cond';
  src: url("../fonts/FuturaPT/FuturaPTCond-BoldObl.eot");
  src: local("Futura PT Cond Bold Oblique"), local("FuturaPTCond-BoldObl"), url("../fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-BoldObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond';
  src: url("../fonts/FuturaPT/FuturaPTCond-MediumObl.eot");
  src: local("Futura PT Cond Medium Oblique"), local("FuturaPTCond-MediumObl"), url("../fonts/FuturaPT/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-MediumObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url("../fonts/FuturaPT/FuturaPTCond-BookObl.eot");
  src: local("Futura PT Cond Book Oblique"), local("FuturaPTCond-BookObl"), url("../fonts/FuturaPT/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPTCond-BookObl.woff") format("woff"), url("../fonts/FuturaPT/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

.container {
  max-width: 1146px;
  margin: 0 auto; }

.container__slider {
  max-width: 1146px;
  margin: 0 auto;
  height: 100%; }

body {
  font-family: 'Futura PT';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.025em;
  background: url("../img/Back0.png") fixed no-repeat 0% 0%;
  background-size: cover; }

button,
button:active,
button:focus {
  outline: none; }

.header {
  height: 696px; }
  .header::before {
    content: '';
    position: absolute;
    max-height: 696px;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10px;
    background: url(../img/header/header-roll.png) no-repeat 95% 0%; }

/* popup start */
.popup {
  position: fixed;
  z-index: 110;
  transition: 0.25s;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden; }

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible; }

.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0; }

.popup__content {
  background: #fff;
  padding: 20px 40px 50px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px; }

.popup__content--fluid {
  padding-left: 0;
  padding-right: 0; }

.popup__content--centered {
  display: flex;
  flex-direction: column;
  align-items: center; }

.popup__btn-close {
  position: absolute;
  transform: scale(0.6);
  left: 95%;
  top: 0; }

.popup__title {
  margin-bottom: 20px;
  text-align: center; }

.popup__subtitle {
  margin: 0;
  text-align: center;
  font-size: 24px; }

.popup__subtitle--order {
  max-width: 360px;
  margin: 0 auto 40px; }

.popup__mobile-menu {
  margin-bottom: 30px; }

.popup__phone {
  margin-bottom: 30px; }

.popup__link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap; }

@media (max-width: 767px) {
  .popup__inner {
    padding: 0; }
  .popup__content {
    max-width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding-top: 100px; }
  .popup__subtitle {
    font-size: 18px; }
  .popup__subtitle--order {
    max-width: 260px; } }

/* popup end */
/* btn start */
.btn {
  background: #ff5441;
  color: #fff;
  display: inline-block;
  padding: 18px 20px;
  width: 240px;
  max-width: 100%;
  border-radius: 28px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: .02em;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
  transition: color .2s, background .2s, opacity .2s; }

.btn:hover {
  background: #ec4b38; }

.btn:active {
  opacity: 0.8;
  transform: scale(0.95); }

@media (max-width: 576px) {
  .btn {
    font-size: 16px;
    padding: 16px 20px;
    width: 220px; } }

/* btn end */
/* btn-close start */
.btn-close {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform .2s, opacity .2s; }

.btn-close:hover {
  transform: scale(0.7); }

.btn-close:active {
  transform: scale(0.9);
  opacity: .8; }

.btn-close::before,
.btn-close::after {
  content: '';
  background: #000;
  height: 40px;
  width: 3px;
  position: absolute;
  border: 10px;
  top: 50%; }

.btn-close::before {
  transform: translateY(-50%) rotate(45deg); }

.btn-close::after {
  transform: translateY(-50%) rotate(-45deg); }

/* btn-close end */
.cart-btn {
  position: relative;
  z-index: 105;
  transition: 0.3s;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 40px;
  background: url(../img/cart-btn0.png) no-repeat 0% 0%;
  background-size: contain;
  margin: auto auto;
  cursor: pointer; }
  .cart-btn:hover {
    transition: 0.05s;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #dc6a4b; }
  .cart-btn.fixed {
    position: fixed;
    width: 75px;
    height: 75px;
    top: -65%;
    left: 89%;
    right: 0;
    bottom: 0; }
  .cart-btn__counter {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 5px);
    background: #fff;
    min-width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Futura PT';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.025em;
    color: #343336;
    box-shadow: 0px 0px 5px #fff; }
    .cart-btn__counter:empty {
      display: none; }
  .cart-btn:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1); }

.up {
  content: '';
  border-radius: 40px;
  transition: 0.9s;
  width: 60px;
  height: 60px;
  text-align: center;
  top: 87%;
  left: 3%;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff; }
  .up.on {
    position: fixed;
    z-index: 105; }
    .up.on:hover {
      transition: 0.05s;
      text-shadow: 0px 0px 5px #fff; }
    .up.on:active {
      text-shadow: 0px 0px 10px #fff;
      transform: scale(0.9); }

.navbar {
  position: relative;
  color: #ffffff;
  background: rgba(47, 46, 48, 0.58); }
  .navbar-wrap {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 65px; }
    .navbar-wrap-tel {
      position: relative;
      z-index: 10;
      display: flex;
      width: 228px;
      justify-content: space-between;
      align-items: center; }
  .navbar ul {
    position: relative;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 68px; }
  .navbar a {
    text-decoration: none;
    padding: 1em;
    display: block;
    color: #ffffff; }
  .navbar a:hover {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1); }
  .navbar a:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.05); }
  .navbar.fixed {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0); }

.logo-btn {
  border: none;
  width: 39px;
  height: 31px;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  background: url(../img/logo.png) no-repeat 50% 50%;
  margin: 0 15px; }
  .logo-btn:hover {
    width: 150px;
    height: 31px;
    margin: 0 15px 0 -15px;
    transition: 0.5s;
    transform: scale(1);
    background: url(../img/logo1.png) no-repeat 50% 50%;
    background-size: contain; }
  .logo-btn:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1); }

a.tel {
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.025em;
  text-align: center;
  border: none;
  width: 162px;
  height: 37px;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
  background: url(../img/btn.png) no-repeat 50% 50%;
  cursor: pointer; }
  a.tel:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 10px #dc6a4b;
    transform: scale(1.05); }
  a.tel:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1); }

.hero {
  margin: auto auto;
  color: #ffffff;
  height: 100%;
  max-height: 630px; }

/* Слайдер */
.slick-slider {
  display: flex;
  height: auto;
  margin-top: 100px;
  flex-wrap: wrap;
  min-width: 0; }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start; }

.slider {
  position: relative;
  width: 70%;
  height: 100%;
  max-height: 696px;
  z-index: 5;
  padding: 40px 10px 40px 75px; }

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px; } }

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px; }

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-disabled {
  opacity: 0.2; }

.slider .slick-dots {
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: start;
  z-index: 10; }

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #aeadaf;
  border-radius: 50%; }

.slider .slick-dots li.slick-active button {
  background-color: #db694b; }

.slider__item {
  padding: 0px 15px; }

.slider__item img {
  max-width: 100%; }

.slider-item__title {
  font-family: 'Futura PT';
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-size: 60px; }

.slider-item__subtitle {
  font-size: 18px; }

.about {
  height: 575px;
  background-color: #fff; }
  .about::before {
    content: '';
    position: absolute;
    width: 465px;
    height: 300px;
    left: 0;
    z-index: 10;
    background: url(../img/about-roll.png) no-repeat 0% 0%;
    background-size: cover;
    top: 100%;
    left: 0%;
    transform: translate(0%, -43%); }
  .about::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 588px;
    z-index: 3;
    background: url(../img/leafs2.png) no-repeat 0% 0%;
    background-size: content;
    top: 35%;
    left: 0%;
    transform: translate(0%, 0%); }

.about-wrap {
  position: absolute;
  background: url(../img/about-window.png) no-repeat 0% 0%;
  right: 25%;
  z-index: 5;
  width: 788px;
  height: 387px;
  left: 60%;
  transform: translate(-60%, 0%);
  margin: 100px 0 0 0;
  border-radius: 10px;
  box-shadow: 5px 0px 10px rgba(2, 3, 6, 0.2); }
  .about-wrap__title {
    font-family: 'Futura PT';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.025em;
    font-size: 23px;
    margin: 150px 0 0 70px; }

.menu {
  height: 4000px; }
  .menu::before {
    content: '';
    position: absolute;
    width: 628px;
    height: 535px;
    z-index: 9;
    background: url(../img/leafs1.png) no-repeat 0% 0%;
    background-size: content;
    right: 0%;
    transform: translate(0%, -34%); }

.title {
  font-family: 'Futura PT';
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.025em;
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 30px 0 0 0; }
  .title.fixed {
    margin: 0px 0 110px 0; }

.navbar-wrap-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.navbar-wrap-menu a {
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.025em;
  size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
  display: block;
  color: #ffffff; }

/* Основные стили */
/* Слайдер */
.slick-slider {
  min-width: 0; }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start; }

/* Конкретный слайдер */
.slider2 {
  position: relative;
  width: 99%;
  z-index: 10;
  margin: 60px 0 60px 10px;
  padding: 0px 60px 0 60px; }

@media (max-width: 767px) {
  .slider2 {
    padding: 0px 40px; } }

.slider2 .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 21px;
  height: 35px; }
  .slider2 .slick-arrow:hover {
    transition: 0.05s;
    transform: scale(1.2); }
  .slider2 .slick-arrow:active {
    transform: scale(1); }

.slider2 .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/left-arrow.png") 0 0/100% no-repeat; }

.slider2 .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right-arrow.png") 0 0/100% no-repeat; }

.slider2 .slick-arrow.slick-disabled {
  opacity: 0.2; }

.slider2 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center; }

.slider2 .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.slider2 .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; }

.slider2 .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff; }

.slider2__item {
  padding: 0px 15px; }

.slider2__item img {
  max-width: 100%; }

.slick-slide:focus {
  outline: none; }

.container-product {
  background: url(../img/menu-square.png) no-repeat 0% 0%;
  width: 245px;
  height: 339px;
  margin: 0 0px 0 0; }

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 226px;
  height: 325px;
  margin: 5px 0 0 0;
  padding: 10% 0 15% 0;
  overflow: hidden;
  text-align: center; }
  .product__title {
    font-family: 'Futura PT';
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.025em;
    font-size: 16px;
    text-transform: uppercase; }
  .product__subtitle {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.025em;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    letter-spacing: 0.001em; }
  .product__sector1 {
    height: 238px; }
  .product__img {
    max-height: 142.5px;
    max-width: 225px;
    height: 100%;
    object-fit: cover;
    margin: 0 0 0 0;
    text-align: center; }

.product__img {
  max-height: 142.5px;
  max-width: 225px;
  height: 100%;
  object-fit: contain;
  margin: 0 0 0 0;
  text-align: center; }

.product-price {
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.025em;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px -20px; }

.product-price__btn {
  font-family: 'Futura PT';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  border: none;
  min-width: 51px;
  min-height: 51px;
  text-transform: uppercase;
  font-size: 33.75px;
  color: #ffffff;
  background: url(../img/price-btn.png) no-repeat 50% 50%;
  cursor: pointer; }
  .product-price__btn:hover {
    transition: 0.05s;
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 0px 0px 5px #dc6a4b; }
  .product-price__btn:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1); }

.product__switch {
  width: 140px;
  margin: 0 auto; }

.type {
  font-family: 'Futura PT';
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.025em;
  display: flex;
  height: 55px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22.1px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 40px 0 -50px 0;
  padding: 0 0 0 0; }
  .type__line {
    align-self: center;
    width: 226px;
    height: 6px;
    background: url(../img/line.png) no-repeat 50% 50%; }

.radio-switch {
  margin-top: 3px;
  background-color: #e8e8e8;
  border-radius: 3px;
  color: #333;
  text-align: center; }

.switch {
  font-family: 'Futura PT';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  display: block;
  height: 25px;
  position: relative; }

.fixed-width-lg {
  width: 140px !important; }

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0 0;
  margin-top: 1px;
  line-height: normal; }

.radio-switch label {
  font-family: 'Futura PT';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

.switch label {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 100%;
  margin: 0;
  text-align: center;
  float: left; }

.switch label,
.switch > span {
  line-height: 26px;
  vertical-align: middle; }

.radio-switch * {
  outline: 0 !important; }

.switch input {
  position: absolute;
  opacity: 0; }

.switch a {
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.switch a {
  position: absolute;
  top: 2px;
  padding: 0;
  z-index: 1;
  width: 48%;
  height: 85%;
  background-color: #fff;
  left: 3px;
  -webkit-box-shadow: 5px 0px 10px rgba(2, 3, 6, 0.15);
  box-shadow: 5px 0px 10px rgba(2, 3, 6, 0.15); }

.switch input:last-of-type:checked ~ a {
  background-color: #fff;
  left: 50%;
  -webkit-box-shadow: -5px 0px 10px rgba(2, 3, 6, 0.15);
  box-shadow: -5px 0px 10px rgba(2, 3, 6, 0.15); }

.delivery {
  height: 640px;
  background-color: #fff;
  color: #343336; }
  .delivery::after {
    content: '';
    position: absolute;
    width: 515px;
    height: 344px;
    z-index: 5;
    background: url(../img/leafs3.png) no-repeat 0% 0%;
    background-size: content;
    left: 0%;
    transform: translate(0%, -78%); }
  .delivery__title {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.025em;
    text-align: center;
    font-size: 50px;
    padding: 65px 0 0 0;
    margin: 0px 0 50px 0px;
    text-transform: uppercase; }

.delivery-wrap {
  position: absolute;
  background: url(../img/delivery-window.png) no-repeat 0% 0%;
  border-radius: 10px;
  box-shadow: 5px 0px 10px rgba(2, 3, 6, 0.2);
  z-index: 5;
  width: 789px;
  height: 309px;
  left: 50%;
  transform: translate(-50%, 0%); }
  .delivery-wrap::before {
    content: '';
    position: absolute;
    width: 465px;
    height: 300px;
    left: 0;
    z-index: 10;
    background: url(../img/sushi.png) no-repeat 0% 0%;
    background-size: cover;
    top: 26%;
    left: 70%;
    transform: translate(0%, 26%); }
  .delivery-wrap__title {
    font-family: 'Futura PT';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.025em;
    text-align: center;
    font-size: 22px;
    margin: 105px 10px 0px 10px;
    padding: 0 15px; }
  .delivery-wrap__subtitle {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.025em;
    text-align: center;
    font-size: 23px;
    padding: 0 15px;
    margin: 0px 10px 0 10px; }

.promo {
  height: 180px;
  background: url(../img/promo-back.png) no-repeat 0% 0%;
  background-size: cover;
  text-align: center;
  color: #ffffff; }
  .promo__title {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.025em;
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px 0 0 0;
    text-shadow: 6px -2px 5px rgba(0, 0, 0, 0.2); }
  .promo__subtitle {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.025em;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 6px -2px 5px rgba(0, 0, 0, 0.2); }
  .promo__btn {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.025em;
    border: none;
    width: 162px;
    height: 37px;
    font-size: 22.79px;
    color: #343336;
    border-radius: 20px;
    margin: 15px 0 0 0;
    cursor: pointer; }
    .promo__btn:hover {
      box-shadow: 0px 0px 10px #fff;
      transition: 0.05s;
      transform: scale(1.05); }
    .promo__btn:active {
      text-shadow: 0px 0px 10px #fff;
      transform: scale(1); }

.contacts {
  height: 510px;
  color: #ffffff; }
  .contacts__title {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.025em;
    text-align: center;
    font-size: 50px;
    padding: 65px 0 0 0;
    margin: 0px 0 50px 0px;
    text-transform: uppercase; }
  .contacts-wrap {
    display: flex;
    justify-content: space-evenly; }
    .contacts-wrap .address__title {
      font-family: 'Futura PT';
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.025em;
      font-size: 36px;
      text-align: center; }
    .contacts-wrap .address__subtitle {
      font-family: 'Futura PT';
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.025em;
      font-size: 30px;
      text-align: center; }
  .contacts__map {
    padding: 0 auto;
    margin: 90px 0 0 0;
    text-align: center; }

.footer {
  height: 100px;
  background-color: #2f2e30;
  color: #ffffff;
  font-family: 'Futura PT';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.025em;
  font-size: 14px; }
  .footer-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer-wrap .mon-logo {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }

.conf-btn {
  background: none;
  color: #ffffff;
  font-family: 'Futura PT';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.025em;
  font-size: 14px; }
  .conf-btn:hover {
    transition: 0.05s;
    text-shadow: 0px 0px 5px #fff; }
  .conf-btn:active {
    text-shadow: 0px 0px 10px #fff;
    transform: scale(0.95); }
