* {
    margin: 0;
    padding: 0;
}

.error_wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
}

.error_img {
    display: flex;
    justify-content: center;
    width: 50%; 
}

.error_title {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.25px;
    text-align: center;
    padding-bottom: 40px;
    }

.error_text_1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
    text-align: center;
}

.error_text_2 { 
    color: #999999;
    padding-bottom: 50px;
    text-align: center;
}

.btn-base{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FCEAD6;
    background-color: #9B0741;
    border: solid 2px #9B0741;
    max-width:310px;    
    padding: 16px 51px;
    border-radius: 8px;
    transition: 0.4s;
}

.btn-base:hover{
    color: #9B0741;
    border: solid 2px #9B0741;
    background-color: #FCEAD6;
}

@media screen and (max-width: 767px) {

    .error_wrapper {
        padding: 60px 20px;
    }

    .error_img {
        display: none;
    }

    .error_title {
        font-size: 40px;
        padding-bottom: 20px;
    }
    .error_text_1 {
        font-size: 20px;
        font-weight: 500;
    }
    .error_text_2 {
        padding-bottom: 40px;
    }
}

